@tailwind base;
@tailwind components;
@tailwind utilities;

#ppepp-documents-root {
    color-scheme: light;
}

#ppepp-documents-root input[type="text"],
#ppepp-documents-root input[type="search"],
#ppepp-documents-root select,
#ppepp-documents-root textarea {
    color-scheme: light;
}

#ppepp-documents-root .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#ppepp-documents-root .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
